@media screen and (max-width: 480px) {
/*全体*/
   .wrapper{
     width: 100%;
     padding:0;
   }

    .usa4563{
       margin-top:0px;
       margin-left: 0px;}


   body{
     max-width: 480px;
     width: 100%;
     background-size:100%;
       background-repeat:repeat;
   }
   header{
     width: 100%;
     max-width: 480px;
     box-sizing: border-box;
   }
   .header-menu-wrapper{
     display: none;
   }
   #jump5,#jump8,#jump6,#jump7,#jump2,#jump4,#jump9{
     margin-top: -230px;
     padding-top: 230px;
   }
   #jump3{
     margin-top: -150px;
     padding-top: 150px;
   }
   .sonota{padding-bottom:0px;margin-bottom: 0px;}
   .koncept{padding-bottom:0px;margin-bottom: 50px;}
   .ryou-kin-ip5{padding-top:0px;margin-top: -40px;}
   .ryou-kin{padding-bottom:0px;margin-bottom: -270px;}
   .hitu-you-na-mono,.ei-gyou-ji-kan,.kai-sya-gai-you,.access,.contact{padding-bottom:0px;margin-bottom: 80px;}


   .oheya,.goyoyaku,.oazukari {padding-bottom:0px;margin-bottom: 0px;}
/*---------▽ハンバーガーメニュー▽-----------------*/
      .Hamburger{
        display: block;
      }
      nav.navigation-sp {
          position: absolute;
        z-index: 11;
          top:0;
          left:0;
          background: #ffeaea;
          color:black;
          text-align: center;
          transform: translateY(-100%);
          transition: all 0.6s;
          width: 80%;
          position: fixed;
          opacity: 0.9;
      }
      nav.navigation-sp ul {
          background: #ffeaea;
          margin: 0 auto;
          padding: 0;
          width: 80%;
      }
      nav.navigation-sp ul li {
          font-size: 18px;
          list-style-type: none;
          padding: 0;
          width: 100%;
          border-bottom: 1px solid #ccc;
      }
      nav.navigation-sp ul li a {
          display: block;
          color: #000000;
          padding: 3.1vw 0;
          text-decoration: none;
      }
      nav.navigation-sp ul li a:hover {
          display: block;
          color: #585858;
          padding: 1em 0;
          text-decoration: none;
      }
      nav.navigation-sp.active {
          transform: translateY(0%);
      }
      .nav-toggle {
          display: block;
          position: fixed;
          right: 15px;
          top: 22px;
          width: 50px;
          height: 34px;
          cursor: pointer;
          z-index: 12;
          text-align: center;
          opacity: 0.7;
      }
      .nav-toggle span {
          display: block;
          position: absolute;
          width: 50px;
          border-bottom: solid 6px #000000;
          -webkit-transition: .35s ease-in-out;
          -moz-transition: .35s ease-in-out;
          transition: .35s ease-in-out;
      }
      .nav-toggle span:nth-child(1) {
          top: 0;
      }
      .nav-toggle span:nth-child(2) {
          top: 14px;
      }
      .nav-toggle span:nth-child(3) {
          top: 28px;
      }
      .nav-toggle.active span:nth-child(1) {
          top: 14px;
          right: 0;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
      }
      .nav-toggle.active span:nth-child(2),
      .nav-toggle.active span:nth-child(3) {
          top: 14px;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
      }
/*ー------------------ーーーーーーーーフッター------------------*/
   footer{
     box-sizing: border-box;
     max-width: 480px;
     width:100%;
   }
   footer li{
     margin-right: 1px;
   }
   /*link*/
   .link-link span:before{
    position: absolute;top: 0px;left: 0px;
   }
   .link-link span:after{
  position: absolute;bottom: 0px;left: 2px;width: 110%;
   }
/*トップ画像*/
.top-gazou2{
  display: block;
  width:55%;height:auto;
  margin: 0 auto;
  opacity: 0.8;
}
.spgawp{
  display: block;
  position: sticky;top:0;
  z-index: 10;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}
.top-gazou-wrapper{
  display: none;
}

/*-----------▽各見出し部分▽---------------*/
.pc{
  display: none;
}
.sp{
  display: block;
}

.wrapper span{
  font-size: 29px;
  margin: 0 auto;
}



.wrapper h4{
  font-size: 25px;
  margin: 0 auto;
}

.wrapper h3{
  font-size: 25px;
}
/*---------ご利用案内----------*/
.go-ri-yo-u-an-nai p{
  font-size: 16px;
  margin-bottom: 20px;
}

.sonota .pc{
  display: none;
}

.sonota .sp{
  display: block;
}

.sonota p{
  text-align: left;
}

.sp-annai-title{

}
.go-ri-yo-u-an-nai h2{

}
h2{
  width: 95%;
  margin: 0;
}
.go-ri-yo-u-an-nai{
  max-width: 480px;
  box-sizing: border-box;

}
h2 span:before{

 font-size: 28px; /* アスタリスクの大きさ */
 position: absolute;
 top: 7px;
 left: 46px;

}
h2 span:after{

 width: 80%;
 position: absolute;
 bottom: 0px;
 left: 48px;
}
.eigyou-span span:before{
  position: absolute;
  top: 0px;
  left: 6px;
}
.eigyou-span span:after{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 11px;
}
.acces-span span:before{

 font-size: 28px; /* アスタリスクの大きさ */
 position: absolute;
 top: 3px;
 left: 30px;

}
.acces-span span:after{
  width: 90%;
  position: absolute;
  bottom: 0px;
  left: 24px;
}
.hitu-you-na-mono-txt span:before{

 font-size: 28px; /* アスタリスクの大きさ */
 position: absolute;
 top: 3px;
 left: 70px;

}
.hitu-you-na-mono-txt span:after{
  width: 70%;
  position: absolute;
  bottom: 0px;
  left: 63px;
}
.hajimeni span:before{

 font-size: 28px; /* アスタリスクの大きさ */
 position: absolute;
 top: 0px;
 left: 8px;

}
.hajimeni span:after{
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 7px;
}
.hajimeni{
  margin-top:260px;
}
.koncept{
  margin-top:45px;
}


.oheya p {
    margin: 22px;
    padding: 0;
    text-align: left;
    margin-left: 5px;
    line-height: 38px;
  width: 95%;
}
.goyoyaku p {
    margin: 20px;
    padding: 0;
      line-height: 38px;
      text-align: left;
      margin-left: 6px;
        width: 95%;
}
.oazukari p {
  margin: 20px;
  padding: 0;
    line-height: 38px;
    text-align: left;
    margin-left: 6px;
      width: 95%;
}
.sonota p {
   display: block;
     width: 95%;
     margin: 20px;
     padding: 0;
       line-height: 38px;
       text-align: left;
       margin-left: 6px;
         width: 95%;
}

/*---------------★通常★-------------------*/
.stay-1 table{
width: 100%;
margin: 0 auto;
}
.stay-1 p{
width: 95%;
text-align: left;
position: relative;top:20px;
line-height:1.4;
margin-bottom:20px;
}
.stay-2 p,.stay-3 p,.stay-1 p,.stay-4 p{
padding-bottom: 20px;
}
.stay-2 p,.stay-3 p,.stay-4 p{

margin-bottom:20px;
}
.stay-1 img,.stay-2 img,.stay-3 img,.stay-4 img{

margin-top:20px;
}
.ex{
  width: 100%;
}
.stay-4 img{
  width: 90%;
height:auto;
}
/*--------------------------*/
/*---------------★中期ステイ★-------------------*/
.stay-2 table{
width: 100%;
margin: 0 auto;
}

.ex{
  width: 100%;
}
/*---------------★長期ステイ★-------------------*/

.stay-3 table{
width: 100%;
margin: 0 auto;
}

.ex{
  width: 100%;
}
/*---------------★お預かり★-------------------*/
.stay-4 table{
width: 100%;
margin: 0 auto;
}
.ex{
  width: 100%;
}


/*-----------★フェレットのオプション★----------------------*/


.option p{
  width: 100%;
  text-align: center;
  margin-left: 20%;
}
.option h3{
  margin-top: 7px;
}
/*--------------------------*/
.momo3{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 120%;
}
.momo4{
  margin-top: -50px;
  margin-bottom: 20px;
  margin-left:-90px;
  width: 180%;
}
.momo5{
  margin-top: 40px;
  margin-bottom: -60px;
  margin-left:-50px;
  width: 150%;
}
.momo6{
  margin-top: 0px;
  margin-bottom: -0px;
  margin-left:-35px;
  width: 140%;
}

.ham1{
  width: 100%;
}
.momo7{
  margin-top: -250px;
  margin-bottom: -190px;
  margin-left:-175px;
  width: 180%;
}
.usa2{
  margin-bottom: -40px;
}
.momo8{
  margin-top: -0px;
  margin-bottom: -0px;
  margin-left:-60px;
  width: 150%;
}
.momo9{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left:-40px;
  width: 130%;
}
.momo10{
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left:-40px;
  width: 120%;
}
.momo11{
  margin-top: 0px;
  margin-bottom: -200px;
  margin-left:0px;
  width: 175%;
}
.momon{
  margin-left: 17px;
  margin-top: 13px;
}
/*-----------支払方法------------*/



    .si-ha-ra-i-hou-hou-text span{
      display: block;
    }
.siharai img{
  width: 90%;
  height: auto;
}
img{
  width: 100%;height: auto;
}
    /*必要なもの*/
    .hitu-you-na-mono{
        width: 85%;
    }

    .hitu-you-na-mono-img{
      width: 100%;
    }

    .hitu-you-na-mono-img p{
      font-size: 20px;
      margin-left: 0;
    }

    .hitu-you-na-mono　.pc{
      display: none;
    }

    .hitu-you-na-mono .sp{
      display: block;
    }


/*--------★営業時間★----------------------*/
.ei-gyou-ji-kan{
  width: 85%;
}

/*-------------★道順★----------------------*/
.access{
  width: 85%;
}


.access p{
    margin-left: 0;
    width: 100%;
}
}








@media screen and (max-width: 1688px) {

  .top-gazou-wrapper{
    position:sticky;
    left:0;
    top:97px;
  }

}







@media screen and (max-width: 1342px) {

  .top-gazou-wrapper{
    position:sticky;
    left:0;
    top:130px;
  }

}







@media screen and (max-width: 1299px) {

  h2 span{
    font-size:40px;
  }

}

@media screen and (max-width: 1149px) {

  h2 span{
    font-size:36px;
  }

}
@media screen and (max-width: 1020px) {

  h2 span{
    font-size:30px;
  }

}

@media screen and (max-width: 879px) {

  h2 span{
    font-size:26px;
  }

}


@media screen and (max-width: 790px) {

  h2 span{
    font-size:20px;
  }

}



@media screen and (max-width: 1199px) {

  .wrapper{

    margin:-200px 0 0 auto;

  }

}








@media screen and (max-width: 893px) {

  .top-gazou-wrapper{
    position:sticky;
    left:0;
    top:130px;
  }

}







@media screen and (max-width: 748px) {

  .top-gazou-wrapper{
    position:sticky;
    left:0;
    top:168px;
  }

}








@media screen and (max-width: 645px) {

  .top-gazou-wrapper{
    position:sticky;
    left:0;
    top:168px;
  }

}





@media screen and (max-width: 320px) {


  .go-ri-yo-u-an-nai-ip5 span:before,.ryou-kin-ip5 span:before{

   font-size: 28px; /* アスタリスクの大きさ */
   position: absolute;
   top: 7px;
   left: 20px;

  }
  .go-ri-yo-u-an-nai-ip5 span:after{

   width: 90%;
   position: absolute;
   bottom: 0px;
   left: 30px;
  }
  .hitu-you-na-mono-txt span:before{

   font-size: 28px; /* アスタリスクの大きさ */
   position: absolute;
   top: 7px;
   left: 40px;

  }
  .acces-span span:before{

   font-size: 28px; /* アスタリスクの大きさ */
   position: absolute;
   top: 7px;
   left: 10px;

  }
  .acces-span span{
    font-size:28px;
  }
}




@media screen and (max-width: 1599px) {


}





@media screen and (max-width: 1349px) {


}




@media screen and (max-width: 1179px) {


}
