/*‐‐‐‐‐‐‐‐‐‐全体------------------*/
*{
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-size:22px;
  font-family: UD デジタル 教科書体 N-B,しねきゃぷしょん;
  letter-spacing: 0.7px;
}
body{
  max-width: 1920px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-image:url("img/hana.png");
  background-size:100%;
  background-attachment:fixed;
  background-repeat:no-repeat;
}
.wrapper{
  box-sizing: border-box;
  width: 68%;
  height: auto;
  padding:0;
  margin:-350px 0 0 auto;
  text-align: center;
}
ul{
  list-style: none;
}
table th,table td{
  padding: 5px 0;
  border: 2px solid #ffb699;
  background-color: rgba(255,240,198,0.3) ;
}
table{
  border-collapse: collapse;
}

h2 span{
 color:rgba(0,0,0,0.7); /* 文字色 */
 padding: 10px 10px 10px 60px; /* 上・右・下・左の余白 */
 position: relative;
 font-size: 49px;
 margin-left: 70px;
 margin-right: 70px;
}
h2 span:before{
 content: '＊*'; /*花に見せかけるためのアスタリスク*/
 color: #fff; /* アスタリスクの色 */
 display: inline-block;
 font-size: 30px; /* アスタリスクの大きさ */
 font-weight: bold;
 position: absolute;
 top: 0px;
 left: 0px;
 transform: rotate(20deg);
 -moz-transform: rotate(20deg);
 -webkit-transform: rotate(20deg);
 -o-transform: rotate(20deg);
 text-shadow: 0px 0px 6px #EAA8BF, 0px 0px 4px #EAA8BF, 0 0 0.5px #EAA8BF; /* アスタリスク周りの影 */
}
h2 span:after{
 border-bottom: 4px solid #FF0461; /* 下線 */
 content: '';
 position: absolute;
 bottom: 0px;
 left: 0px;
 width: 104%;
 opacity: 0.6;
 border-radius: 20px;
}
h2{
font-family: UD デジタル 教科書体 N-B;

}
h3{
  font-size:40px;
  background: linear-gradient(transparent 40%, #FF97C2 100%);
}
h4{
  font-size:40px;
  background: linear-gradient(transparent 40%, #FF97C2 100%);
}
.spgawp{
  display:none;
}
.sp{
  display: none;
}
.sonota .sp{
  display: none;
}




/*‐‐‐‐‐‐‐‐‐‐へっだー------------------*/
 .header-menu-wrapper li{
  display:inline-block;
  font-size: 20px;
  color:inherit;
}
.header-menu-wrapper ul{
  font-size: 0px;
  margin-top:10px;
  margin-bottom:10px;
}
.header-menu-wrapper{
  box-sizing: border-box;
    display:inline-block;
  text-align: center;
  position: sticky; /* 要素を固定/解除する */
 top: 0px;/* 縦方向の閾値 */
 background-color: #FF9999;
 opacity: 0.9;
 width: 100%;
 height: auto;
 z-index: 10;
 padding:20px;
}
.header-menu{
  width: 100%;
  display: inline-block;

}
.header-menu li{
  font-size: 24px;
  opacity: 0.8;
  font-weight: bold;
  padding:4px 18px;
}
.header-menu li a {
  text-decoration:none;
  color:black;
}
.li-top{
  border-left: 1px solid rgba(0,0,0,0.4);
}
.li-lengs{
  border-right: 1px solid rgba(0,0,0,0.4);
}
.Hamburger{
  display: none;
}
.fa-twitter-square{
  color: blue;
}
.fa-line{
  color: green;
}
.fa-instagram{
  color: purple;
}






.top-gazou-wrapper{/*top画*/
  text-align:left;
  margin-bottom:50px;
  position:sticky;
  left:0;
  top:94px;
}
/*---------------★ご利用案内★-------------------*/
.goriyou-annai{
  width: 90%;
  margin: 0 auto;
  opacity: 0.9;
  z-index: 9;

}

.goriyou-annai p h4{
  text-align: center;
}
.oheya {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    opacity: 0.9;
    width: 80%;
    display: inline-block;
    text-align: center;
    padding-top:10px;
}
.oheya p {
    margin: 22px;
    padding: 0;
    text-align: left;
    margin-left: 26px;
    line-height: 38px;
  width: 95%;
}
 .goyoyaku{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
    opacity: 0.9;
    width: 80%;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    height: auto;
}
.goyoyaku p {
    margin: 20px;
    padding: 0;
      line-height: 38px;
      text-align: left;
      margin-left: 26px;
        width: 95%;
}
.oazukari{
   padding: 0.2em 0.5em;
   margin: 2em 0;
   color: #565656;
   background: #ffeaea;
   box-shadow: 0px 0px 0px 10px #ffeaea;
   border: dashed 2px #ffc3c3;
   border-radius: 8px;
   opacity: 0.9;
   width: 80%;
   display: inline-block;
   text-align: center;
   padding-top: 10px;
}
.oazukari p {
  margin: 20px;
  padding: 0;
    line-height: 38px;
    text-align: left;
    margin-left: 26px;
      width: 95%;
}
.sonota{
   padding: 0.2em 0.5em;
   margin: 2em 0;
   color: #565656;
   background: #ffeaea;
   box-shadow: 0px 0px 0px 10px #ffeaea;
   border: dashed 2px #ffc3c3;
   border-radius: 8px;
   opacity: 0.9;
   width: 80%;
   display: inline-block;
   text-align: center;
padding-top: 10px;
     margin-bottom:230px;
}
.sonota p {
   display: block;
     width: 95%;
     margin: 20px;
     padding: 0;
       line-height: 38px;
       text-align: left;
       margin-left: 26px;
         width: 95%;
}




/*-------------★販売者概要★----------------------*/
.gaiyou table{
  opacity: 0.9;
  width: 80%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}










/*----------------★必要なもの★----------------------*/

.hitu-you-na-mono{
  padding: 50px 0;
    box-sizing: border-box;
      padding: 0.2em 0.5em;
      margin: 2em 0;
      margin: 0 auto;
       margin-bottom:380px;
      margin-top: 50px;
      color: #565656;
      background: #ffeaea;
     box-shadow: 0px 0px 0px 10px #ffeaea;
     border: dashed 2px #ffc3c3;
      border-radius: 8px;
    width: 83%;
}

.hitu-you-na-mono span{
    border-bottom: 1px solid #997474;
}

.hitu-you-na-mono p{
  text-align: initial;

  line-height: 1.7;
}
.hitu-you-na-mono-txt-wrapper{
  margin:10px;
}



/*-------------ペットホテル料金案内-----------------------*/
.ryou-kin{
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-top: 100px;
}
.ryou-kin h2{
  margin-bottom: 50px;
  font-size:50px;
  letter-spacing: 4px;
}
#jump3{
  margin-top: -30px;
  padding-top: 30px;
}
    /*---------------★通常★-------------------*/
    .stay-1 {
        padding: 0.2em 0.5em;
        margin: 2em 0;
        margin: 0 auto;
        margin-bottom: 50px;
        color: #565656;
        background: #ffeaea;
        box-shadow: 0px 0px 0px 10px #ffeaea;
        border: dashed 2px #ffc3c3;
        border-radius: 8px;
        opacity: 0.9;
        width: 80%;
        display: inline-block;
        text-align: center;
    }
    .ex p {
        margin: 0;
        padding: 0;
    }
    /*.stay-1 table{
    width: 40%;
    margin-left: 6vw;
    }*/
    .stay-1 table{
width: 48%;
border-collapse: collapse;
margin:18px 8px 18px 4px;

}
.stay-1 p{
width: 95%;
text-align: left;
position: relative;top:20px;
line-height:auto;
}
.stay-1 h3{
  margin-top: 8px;
}
    .ex{
      width: 50%;
      float: right;
    }
    /*---------------★中期ステイ★-------------------*/
    .stay-2 {

        padding: 0.2em 0.5em;
        margin: 2em 0;
        margin: 0 auto;
        margin-bottom: 50px;
        color: #565656;
        background: #ffeaea;
        box-shadow: 0px 0px 0px 10px #ffeaea;
        border: dashed 2px #ffc3c3;
        border-radius: 8px;
        opacity: 0.9;
        width: 80%;
        display: inline-block;
        text-align: center;
        height: auto;
    }
    .ex p {

    }
    .stay-2 p{
    width: 95%;
    text-align: left;
    line-height:1.5;
    position: relative;top:20px;
    }
    .stay-2 table{
    width: 40%;
    margin-left: 6vw;
    margin:18px 8px 18px 4px;
    }
    .stay-2 h3{
      margin-top: 8px;
    }
    .ex{
      width: 50%;
      float: right;
    }
    /*---------------★長期ステイ★-------------------*/
    .stay-3 {

        padding: 0.2em 0.5em;
        margin: 2em 0;
        margin: 0 auto;
        margin-bottom: 50px;
        color: #565656;
        background: #ffeaea;
        box-shadow: 0px 0px 0px 10px #ffeaea;
        border: dashed 2px #ffc3c3;
        border-radius: 8px;
        opacity: 0.9;
        width: 80%;
        display: inline-block;
        text-align: center;
    }
    .stay-3 p{
    width: 95%;
    text-align: left;
    line-height:1.7;
    position: relative;top:30px;
    }
    .stay-3 table{
    width: 40%;
    margin-left: 6vw;
      margin:18px 8px 18px 4px;
    }
    .stay-3 h3{
      margin-top: 8px;
    }
    .ex{
      width: 50%;
      float: right;
    }

    /*---------------★お預かり★-------------------*/
    .stay-4 {

        padding: 0.2em 0.5em;
        margin: 2em 0;
        margin: 0 auto;
        margin-bottom: 50px;
        color: #565656;
        background: #ffeaea;
        box-shadow: 0px 0px 0px 10px #ffeaea;
        border: dashed 2px #ffc3c3;
        border-radius: 8px;
        opacity: 0.9;
        width: 80%;
        display: inline-block;
        text-align: center;
    }
    .stay-4 p{
    width: 95%;
    text-align: left;
    line-height:1.7;
    position: relative;top:30px;
    }
    .stay-4 table{
    width: 40%;
    margin-left: 6vw;
    margin:18px 8px 18px 4px;
    }
    .stay-4 h3{
      margin-top: 8px;
    }
    .ex{
      width: 50%;
      float: right;
    }
    .stay-4 img{
      width: 40%;
    }
    /*-----------★フェレットのオプション★----------------------*/
    .option{

        padding: 0.2em 0.5em;
        margin: 2em 0;
        margin: 0 auto;
        margin-bottom: 50px;
        color: #565656;
        background: #ffeaea;
        box-shadow: 0px 0px 0px 10px #ffeaea;
        border: dashed 2px #ffc3c3;
        border-radius: 8px;
        opacity: 0.9;
        width: 80%;
        display: inline-block;
        text-align: center;
    }
    .ex p {
        margin: 0;
        padding: 0;
    }
    .option p{
      line-height: 1.9;
      margin-top:20px;
      margin-bottom: 20px;
      position:relative;right:60px;
    }
    .option h3{
      margin-top: 8px;
    }

    .si-ha-ra-i-hou-hou{
      color: #565656;
      background: #ffeaea;
      box-shadow: 0px 0px 0px 10px #ffeaea;
      border: dashed 2px #ffc3c3;
      border-radius: 8px;
      opacity: 0.9;
      width: 80%;
      display: inline-block;
      text-align: center;
      padding: 0.2em 0.5em;
      margin: 2em 0;
      margin: 0 auto;
     margin-bottom:350px;
     padding-top: 10px;
    }
    .si-ha-ra-i-hou-hou p{
      text-align: left;
      line-height: 1.7;
    }
    .si-ha-ra-i-hou-hou h3{
      font-size:50px;
      background: linear-gradient(transparent 40%, #FF97C2 100%);
    }
    .si-ha-ra-i-hou-hou-text{
      display: inline-block;
    text-align: center;
    margin-top: 30px;
    }
    .siharai{
      text-align:center;
      margin-top: 30px;
    }

    .fa-paw{
        font-size:44px;
        margin-right: 12px;
        color: #eba721;
    }







/*‐‐‐‐‐‐‐‐‐‐コンタクトフォーム------------------*/

.contact-tel,.link-wrapper{
  text-align: center;
width: 80%;
  padding: 0.2em 0.5em;
  margin: 2em 0;

  margin-bottom: 50px;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
  opacity: 0.9;
  display: inline-block;
  padding-bottom: 14px;
  padding-top:14px;
  line-height: 1.5;
}
.contact h3,.link-wrapper h3{
    margin-bottom: 30px;
}
.contact a,.link-wrapper a{
  font-size: 30px;
  color:#FF3366;
text-decoration: none
}
.contact a:hover,.link-wrapper a:hover{
  font-size: 30px;
color:rgba(0,0,0,0.4);
text-decoration: none
}
.contact span,.link-wrapper span{
  font-size: 19px;
  color:#FF4F50;
}
/*経営理念ポリシー*/
.koncept{
  box-sizing: border-box;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    margin: 0 auto;
    margin-bottom: 380px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
  width: 83%;
  margin-top: 45px;
  text-align: left;
}

.koncept span{
    border-bottom: 1px solid #997474;
}
.koncept p{
  margin:10px;
  line-height: 34px;
  margin-left: 18px;
  margin-top: 18px;
  width: 95%;
}




/*--------★営業時間★----------------------*/
.ei-gyou-ji-kan{
  box-sizing: border-box;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    margin: 0 auto;
     margin-bottom:380px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
  width: 83%;
  margin-top: 50px;
}
#jump5,#jump8,#jump6,#jump7,#jump2,#jump4,#jump9{
  margin-top: -130px;
  padding-top: 130px;
}

.ei-gyou-ji-kan span{
    border-bottom: 1px solid #997474;
}

 .ei-gyou-ji-kan table{
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}







/*-------------★販売者概要★----------------------*/
.kai-sya-gai-you {
  box-sizing: border-box;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    margin: 0 auto;
  margin-bottom: 380px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
width: 83%;
margin-top: 45px;
}

.kai-sya-gai-you table{
    margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
}


.kai-sya-gai-you span{
    border-bottom: 1px solid #997474;
}




/*-------------★道順★----------------------*/
.access{
  box-sizing: border-box;
    padding: 0.2em 0.5em;
    margin: 2em 0;
    margin: 0 auto;
    margin-bottom: 380px;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
  width: 83%;
  margin-top: 45px;
}

.access span{
  border-bottom: 1px solid #997474;
}
.access video{
  margin-top: 17px;
  margin-bottom: 12px;
}
.access iframe{
  margin-top: 28px;
}
.access p{
    margin-top: 25px;
      margin-left: 25px;
    text-align: left;
    line-height: 1.5;
    width: 95%;
}
.formdesu{

}

.momo1{
}
.momo4{
}
.momo4-1{
  margin-bottom: 30px;
}
.momo4-2{
  margin-bottom: -35px;
}
.komo{
margin-bottom: 45px;
}
.komo4{
margin-bottom: 8px;
}
.hamuuu{
  margin-left: -60px;
}
.momog{

}
.goyoyaku{
}
.momolist li{
  display: inline-block;
}


.stay-4 li{
}
.usa2{}

  .usa4563{
    margin-top:-160px;
    margin-left: -200px;
  }

  .momo7{
  }
  .momo456{
  }

.ya{

}

  .momo8,.momo9{
  }



  .felet1{
    display: flex;
    margin-left: 100px;
    margin-bottom: -240px;
  }
  .option{
  }
/*‐‐‐‐‐‐‐‐‐‐フッター------------------*/
footer ul{
  margin-top: 10px;
}
footer li{
  display:inline-block;
  font-size: 14px;
  margin-right: 20px;
  font-weight: bold;
  opacity: 0.8;
}
footer li a {
   color:black;
   color:inherit;
   text-decoration:none;
 }
 footer p{
   letter-spacing: 2px;
   opacity: 0.7;
   text-align: center;
   margin-top: 30px;
   margin-bottom: 15px;
 }
 .footer-menu-wrapper li{
  display:inline-block;
  font-size: 20px;
  color:inherit;
 }

 .footer-menu-wrapper{
   display:inline-block;
 text-align: center;
background-color: #FF9999;
opacity: 0.9;
max-width: 1920px;
width: 100%;
height: auto;
 padding:20px;
 box-sizing: border-box;
 line-height: 2.3;
 }
 .footer-gazou{
   width: 30%;
   height: auto;
   text-align: center;
   display: inline-block;
   margin: 0 ;
   vertical-align: bottom;
 }
 .footer-gazou-wrapper{
   height: auto;
   text-align: center;
   display: inline-block;
   margin: 0;
 }
